.container{
    width: 100%;
}
.main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    direction: rtl;
    padding: 15px;
}
.slider{
    width: calc(200% / 3);
    border-radius: 15px;
}
.carouselImg img{
    border-radius: 15px;
}
.leftImg{
    width: calc(calc(100% / 3) - 10px);
}
.leftImg img{
    width: 100%;
    height: auto;
    padding: 5px 5px;
    border-radius: 15px;
}

@media only screen and (max-width: 767.98px) {
    .slider {
      width: 100%;
    }
    .main{
        display: block;
    }
    .leftImg{
        display: none;
    }
  }