.mainBar{
    flex: 1;

}

.miniNav{
    border-radius: 10px;
    padding: 10px 0px;
    font-size: 1.1em;
    color: #000000;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0 5px;
}
.miniNav svg{
    width: 30px;
    stroke: #81858b;
}

/* .table {
    border-radius: 10px;
    padding: 20px 25px 20px 25px;
    border: 1px solid #d3d7dd;
    width: 100%;
    height: 100%;
} */
.mainTable{
    width: 100%;
}
.mainTable tr{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.submit{
    background-color: #EF233C;
    color: #fff;
    text-align: center;
    padding: 5px 20px;
    height: 40px;
    border: none;
    border-radius: 10px;
    margin-bottom: 0px;
}

@media only screen and (max-width: 1400px){
    .container{
        width: 95%;
    }
}
@media only screen and (max-width: 1200px){
    .sideBar{
        flex: .45;
    }
    
}
@media only screen and (max-width: 768px){
    .sideBar{
        display: none;
    }
    .mainTable{
        overflow-x: auto;
    }
    
}