.mainBar{
    flex: 1;

}
.alert{
    border: 1px solid #d3d7dd;
    border-radius: 10px;
    padding: 15px 25px;
    font-size: .9em;
    color: #81858b;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0 5px;
}
.miniNav{
    border-radius: 10px;
    padding: 10px 0px;
    font-size: 1.1em;
    color: #000000;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0 5px;
}
.miniNav svg{
    width: 30px;
    stroke: #81858b;
}
.alert svg{
    width: 20px;
    stroke: rgb(212, 187, 41);
}
.inputs {
    border-radius: 10px;
    padding: 53px 25px 25px 25px;
    border: 1px solid #d3d7dd;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
    height: 100%;
}
.inputs section {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.inputs section input {
    width: 100%;
    border: 1px solid #d3d7dd;
    padding: 10px;
    border-radius: 10px;
    font-size: .9em;
}

.inputs section input:focus {
    outline: none;
}
.submit{
    background-color: #EF233C;
    color: #fff;
    text-align: center;
    padding: 5px 20px;
    height: 40px;
    border: none;
    border-radius: 10px;
    margin-bottom: 0px;
}

@media only screen and (max-width: 1400px){
    .container{
        width: 95%;
    }
}
@media only screen and (max-width: 1200px){
    .sideBar{
        flex: .45;
    }
    
}
@media only screen and (max-width: 768px){
    .inputs {
        grid-template-columns: 1fr ;
    }
    .sideBar{
        display: none;
    }
    
}