.imageContainer{
    width: 100%;
}
.imageContainer{
    width: 100%;
    height: 450px;
    border-radius: 10px;
    object-fit: contain;
    /* background-image: url('../../public/assets/images/card1.jpg'); */
    background-size: cover;
    
}
.swiperContainer{
    width: 100%;
    margin-top: 20px;
}

.swiperImage{
    width: 100%;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
}
.title{
    font-size: 1.5em;
}
.titleLine{
    width: 65%;
    margin: 0;
}
.description{
    font-size: 14px;
    color: var(--deepgray);
    margin-top: 20px;
}
.colorContainer{
    width: 100;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.colorTitle{
    font-size: 1.5em;
    margin-top: 50px;
}
.colorParent{
    border-radius: 50%;
    background: none;
    position: relative;
    width: 40px;
    height: 40px;
    margin-left: 5px;
}
.color{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.color svg{
    width: 30px;
    height: 30px;
    stroke: white;
}
.properties{
    margin-top: 50px;

}
.propertiesList{
    margin-right: 15px;
    font-size: 16px;
}
.propertiesListTitle{
    color: var(--deepgray);
}
.returnText{
    color: var(--deepgray);
    font-size: 16px;
}
.sendNotice{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--borderGray);
    padding: 15px;
    border-radius: 10px;
    margin-top: 40px;
}
.sendNoticeTitle{
    font-size: 1.5em;
}
.sendNoticeDescription{
    font-size: 1em;
    color: var(--deepgray);
}
.priceBox{
    background-color: var(--gray);
    padding: 30px 10px 10px 10px;
    border-radius: 8px;
    border: 1px solid var(--borderGray);
    width: 70%;
    direction: rtl;
    position: relative;
    min-height: 400px;
}
.sellerTitle{
    text-align: right;
    font-size: 1.5em;
}
.sellerDescription{
    font-size: 16px;
    margin-top: 15px;
}
.sellerDescription i {
    color: var(--red);
}
.garantyText{
    font-size: 16px;
}
.garantyText i {
    color: var(--green);
}
.checkingText{
    font-size: 16px;
}
.checkingText i {
    color: var(--green);
}
.price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    direction: ltr;
}
.priceText{
    font-size: 1.5em;
    margin: 0;
}
.discountPercent{
    width: 34px;
    height: 20px;
    border-radius: 15px;
    font-size: 12px;
    margin: 0;
    background-color: var(--red);
    color: #fff;
    text-align: center;
}
.sellerPrice{
    font-size: 14px;
    color: var(--deepgray);
    margin: 0;
}
.priceBeforeDiscountContainer{
    width: 100%;
    direction: ltr;
}
.priceBeforeDiscount {
    text-align: left;
    color: var(--deepgray);
    font-size: 14px;
    position: relative;
    width: fit-content;
    margin: 0;
}

.priceBeforeDiscount::before {
    content: ' ';
    position: absolute;
    margin: 0 0 0 5%;
    height: 1px;
    width: 100%;
    background-color: var(--deepgray);
    font-size: 14px;
    top: 55%;
}
.buyBtn{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: -10px;
}
.Btn{
    background-color: var(--red);
    color: white;
    border: none;
    width: 90%;
    border-radius: 10px;
    height: 40px;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}
.quantityContainer {
    border: 1px solid var(--borderGray);
    border-radius: 10px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    position: absolute;
    bottom: 5px;
    right: 10px;
}

.quantityNumber {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    color: var(--red);
}

.pluse {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    flex: 1;
    cursor: pointer;
}

.minuse {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    flex: 1;
    cursor: pointer;
}

.trash{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    flex: 1;
    cursor: pointer;
}


@media only screen and (max-width: 1200px) {
    .priceBox{
        margin: 20px auto;
        width: 100%;
    }

}

@media only screen and (max-width: 768px) {
    .title{
        margin-top: 20px;
    }
    .titleLine{
        width: 100%;
    }
    .priceBox{
        margin: 20px auto;
    }

}