.container {
    margin: 5% 0;
    display: grid;
    grid-template-columns: 20% 80%;
    direction: rtl;
    align-items: flex-start;
    position: relative;
}

.skeletonSidebar {
    width: 360px;
    height: 600px;
    background-color: #E2E2E2;
    border-radius: 10px;
    margin-right: 7%;
}

.skeletonSidebar div {
    opacity: 0;
    visibility: hidden;
}

.skeletonSidebar ul {
    opacity: 0;
    visibility: hidden;
}

.sideBar {
    padding: 10px 20px;
    background-color: #f3f3f3;
    margin-right: 7%;
    border-radius: 10px;
    position: sticky;
    top: 20px;
}

.filterText {
    font-size: 1.2em;
    color: #EF233C;
    margin-bottom: 20px;
}

.carFilter {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    direction: ltr;
    text-align: right;
    gap: 10px 0px;
}

.carFilter li {
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
}

.carFilter label {
    margin-right: 35px;
}

.Filtercontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    right: 0;
    height: 25px;
    width: 25px;
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
}

/* On mouse-over, add a grey background color */
.Filtercontainer:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.Filtercontainer input:checked~.checkmark {
    background-color: #EF394E;
    border: none;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.Filtercontainer input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.Filtercontainer .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.categoryContainer {
    max-width: 70%;
    margin: 30px auto;
    background-color: #E5E6EA;
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: none;
}

.dropdown {
    display: flex;
}

.dropdownBtn {
    width: 50%;
}

.dropdownItem {
    text-align: right;
}

.categoryDropdown {
    position: relative;
    padding: 10px 15px;
    cursor: pointer;
}

.activeDropdowm {
    color: #db2c3d;
}

.activeDropdowm::before {
    content: ' ';
    position: absolute;
    bottom: -5px;
    right: 0;
    background-color: #db2c3d;
    width: 100%;
    height: 2px;
}

.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 20px 0px;
    justify-items: center;
}

.card {
    border: 1px solid #dadada;
    width: 18rem;
    height: 30rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.productImage {
    width: 100%;
    height: auto;
}

.image {
    width: 100%;
    text-align: center;
}

.headImage {
    text-align: right;
    margin: 10px 15px;
}

.title {
    margin-top: 30px;
}

.titleText {
    font-size: 1em;
    text-align: center;
}

.seller {
    font-size: .8em;
    margin-top: 30px;
    text-align: right;
    padding-right: 2%;
    color: #9FA1A2;
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 0 15px;
}

.mainPrice {
    font-size: 18px;
}

.discountPercent {
    width: 34px;
    height: 20px;
    border-radius: 15px;
    font-size: 12px;
    margin: 0 5% 0 0;
    background-color: #EF394E;
    color: #fff;
    text-align: center;
}

.priceBeforeDiscount {
    text-align: left;
    margin: 0 0 0 5%;
    color: #9FA1A2;
    font-size: 14px;
    position: relative;
    top: -3px;
    width: fit-content;
}

.priceBeforeDiscount::before {
    content: ' ';
    position: absolute;
    margin: 0 0 0 5%;
    height: 1px;
    width: 100%;
    background-color: #9FA1A2;
    font-size: 14px;
    top: 55%;
}

@media only screen and (max-width: 1280px) {
    .container {
        grid-template-columns: 30% 70%;
    }

    .skeletonSidebar {
        width: 270px;
    }
}

@media only screen and (max-width: 998px) {
    .filterText {
        font-size: 1em;
        color: #EF233C;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        display: block;
    }

    .sideBar {
        display: none;
    }

    .skeletonSidebar {
        display: none;
    }

    .categoryUl {
        display: none;
    }

    .categoryContainer {
        display: block;
    }

}

@media only screen and (max-width: 578px) {
    .categoryContainer {
        max-width: 90%;
    }
}