.container {
    margin: 5% 0;
    display: grid;
    grid-template-columns: 20% 80%;
    direction: rtl;
    align-items: flex-start;
    position: relative;
}


.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 20px 0px;
    justify-items: center;
}

.card {
    border: 1px solid var(--borderGray);
    width: 18rem;
    height: 28rem;
    border-radius: 15px;
    cursor: pointer;
    transition: all .3s;
    direction: ltr;
    position: relative;
    overflow: hidden;
    padding: 5px;

}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.productImage {
    width: 100%;
    height: auto;
}


.image {
    width: 100%;
    text-align: center;
    position: relative;
    margin-top: 10px;
    margin-top: 20px;
}

.save {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
}

.title {
    margin-top: 20px;
}

.titleText {
    font-size: 1.1em;
    text-align: right;
    padding-right: 8px;
    margin-bottom: 0;
    color: var(--lightBlack);

}

.imageSectionTitleText {
    font-size: 1.1em;
    text-align: right;
    padding-right: 8px;
    margin-bottom: 0;
    color: var(--lightBlack);
    display: none;
}

.imageSectionText {
    display: none;
}

.seller {
    font-size: .8em;
    margin-top: 20px;
    text-align: right;
    margin-bottom: 0;
    padding-right: 5px;
    color: var(--deepgray);
    direction: rtl;
    display: flex;
    align-items: center;
    gap: 0 2px;
}

.warranty {
    font-size: .8em;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: right;
    padding-right: 5px;
    color: var(--deepgray);
    direction: rtl;
    display: flex;
    align-items: center;
    gap: 0 2px;
}

.warranty i {
    margin-left: 3px;
}


.seller i {
    margin-left: 3px;
}


.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 0 15px;
}

.priceNoDiscount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 0 15px;
}

.mainPrice {
    font-size: 18px;
    direction: rtl;
}

.discountPercent {
    width: 34px;
    height: 20px;
    border-radius: 15px;
    font-size: 12px;
    margin: 0 0 0 0;
    background-color: var(--red);
    color: white;
    text-align: center;
    line-height: 22px;
}

.priceBeforeDiscount {
    width: 100%;
    margin: 0 0 0 5%;
    color: var(--deepgray);
    font-size: 14px;
    position: relative;
    top: -3px;
    width: fit-content;
    text-decoration: line-through;
}

.headerLine {
    background-color: var(--deepgray);
    display: none;
}
.card:last-child .headerLine{
    display: none;
}

.pagination {
    width: auto;
    margin: 50px auto 0 auto;
    direction: ltr;
    display: flex;
    align-items: center;
    justify-content: center;
  }

@media only screen and (max-width: 998px) {
    .filterText {
        font-size: 1em;
        color: var(--red);
        margin-bottom: 20px;
    }

}

@media only screen and (max-width: 768px) {
    .container {
        display: block;

    }

    .main {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px 0px;
        justify-items: center;
        padding: 20px 0px;
        border-radius: 15px;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    }

    .categoryUl {
        display: none;
    }

    .card {
        border: none;
        width: auto;
        height: auto;
        border-radius: 0;
        width: 100%;

    }

    .save {
        top: 0;
    }

    .image {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: flex-start;
        gap: 0 5px;
        margin-bottom: 10px;
    }

    .image img {
        width: 118px;
        height: 118px;
        flex: 1;
    }

    .title {
        display: none;
    }

    .imageSectionText {
        display: block;
        flex: 1;
    }

    .imageSectionTitleText {
        font-size: 1em;
        line-height: 25px;
    }

    .imageSectionTitleText {
        display: block;
    }

    .headImage {
        display: none;
    }

    .seller {
        font-size: 12px !important;
        margin-top: 8px;
    }

    .card:hover {
        box-shadow: none;
    }

    .headerLine {
        background-color: var(--deepgray);
        display: block;

    }
    .priceNoDiscount {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0 15px 0 15px;
        gap: 0 20px;
    }

}

@media only screen and (max-width: 578px) {
    .categoryContainer {
        max-width: 90%;
    }
}