.container {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    position: absolute;
    z-index: 80;
    top: 0;
    /* padding: 25px 10px 10px 10px; */
}

.closeIcon {
    width: 24px;
    height: 24px;
    color: var(--lightBlack);
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0 20px;
    margin-bottom: 25px;
    padding: 25px 10px 0px 10px;
}

.line {
    background-color: var(--deepgray);
}

.filterText {
    display: flex;
    align-items: center;
    direction: rtl;
    gap: 0 5px;
    margin-bottom: 15px;
    padding: 10px;
}

.header h4 {
    margin: 0;
    padding: 0;
}

.carFilter {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    direction: ltr;
    text-align: right;
    gap: 10px 0px;
    padding: 10px;
    height: 320px;
    overflow-y: scroll;

}

.carFilter::-webkit-scrollbar {
    width: 3px;
}

/* Handle */
.carFilter::-webkit-scrollbar-thumb {
    background: var(--deepgray);
    border-radius: 10px;
}

/* Handle on hover */
.carFilter::-webkit-scrollbar-thumb:hover {
    background: var(--deepgray);
}

.carFilter li {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.carFilter label {
    margin-right: 35px;
}

.Filtercontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    right: 0;
    height: 25px;
    width: 25px;
    background-color: transparent;
    border: 1px solid var(--deepgray);
    border-radius: 5px;
    cursor: pointer;
}

.Filtercontainer:hover input~.checkmark {
    background-color: var(--gray);
}

.Filtercontainer input:checked~.checkmark {
    background-color: var(--red);
    border: none;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.Filtercontainer input:checked~.checkmark:after {
    display: block;
}

.Filtercontainer .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.fliterHandler {
    background-color: white;
    border: none;
    border-top: 1px solid var(--deepgray);
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    direction: rtl;
    padding: 0 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}

.chevronUp {
    width: 20px;
    height: 20px;
    color: var(--lightBlack);
}

/** SideBarFilterStyles */
.skeletonSidebar {
    width: 360px;
    height: 600px;
    background-color: var(--gray);
    border-radius: 10px;
    margin-right: 7%;
}

.skeletonSidebar div {
    opacity: 0;
    visibility: hidden;
}

.skeletonSidebar ul {
    opacity: 0;
    visibility: hidden;
}

.sideBar {
    padding: 10px 20px;
    background-color: var(--gray);
    margin-right: 7%;
    border-radius: 10px;
    position: sticky;
    top: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.categoryContainer {
    max-width: 70%;
    margin: 30px auto;
    background-color: white;
    border-radius: 15px;
    display: none;
}

.dropdown {
    display: flex;
    gap: 0 20px;
}

.dropdownBtn {
    width: 50%;
}

.dropdownItem {
    text-align: right;
}

.filter {
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: none;
    height: 35px;
    border-radius: 5px;
    flex: 1;
}

.categoryDropdown {
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: none;
    height: 35px;
    border-radius: 5px;
    flex: 1;
}

.activeDropdowm {
    color: var(--red);
}

.activeDropdowm::before {
    content: ' ';
    position: absolute;
    bottom: -5px;
    right: 0;
    background-color: var(--red);
    width: 100%;
    height: 2px;
}

@media only screen and (min-width: 1280px) {
    .skeletonSidebar {
        width: 250px;
    }
}

@media only screen and (max-width: 1280px) {
    .container {
        grid-template-columns: 30% 70%;
    }

    .skeletonSidebar {
        width: 270px;
    }
}

@media only screen and (max-width: 768px) {

    .sideBar {
        display: none;
    }

    .skeletonSidebar {
        display: none;
    }

    .categoryContainer {
        display: block;
    }
    .carFilter {
        height: 260px;
    
    }

}

@media only screen and (max-width: 578px) {
    .categoryContainer {
        max-width: 90%;
    }
}