@font-face {
  font-family: 'iranYekan';
  src: url('../public/assets/fonts/BYekan.ttf');
}

:root {
  --red: #EF233C;
  --gray: #F8F9F9;
  --deepgray: #818181;
  --green: #16A085;
  --borderGray: #D5DBDB;
  --skyBlue: #3498DB;
  --lightBlack: #212F3D;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: iranYekan !important;
  scroll-behavior: smooth;
  /* background-color: #edf2f4!important; */
}

body::-webkit-scrollbar {
  width: 0px;
}


a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.dropdown-toggle {
  width: 100%;
  border-radius: 10px !important;
  direction: rtl;
}

.dropdown-menu {
  width: 100%;
}

.pagination {
  width: auto;
  margin: 0 auto;
  direction: ltr;
  margin-top: 25px;
}

.pagination a {
  padding: 10px 15px;
}

.icon {
  width: 18px;
  height: 18px;
  margin-left: 5px;
}

.saveIcon{
  width: 22px;
  height: 22px;
}


@media only screen and (max-width: 767.98px) {

  html,
  body {
    margin: 0 0 50px 0;

  }

}

@media only screen and (min-width: 767.98px) {
  .sidebar {
    display: none;
  }

}